# E2E Test Folder

# Node
node_modules/
npm-debug.log
yarn-lock.json
package-lock.json

# Cypress
cypress/videos/
cypress/downloads
cypress/screenshots/
.env.local
.env.*.local

# IDE
.DS_Store
*.swp
*.swo
*~
.vscode/
.idea/

# Build
dist/
build/

# Reports
coverage/
*.html

